body{
  background-color: #282A36;
  color: white;
  display: flex;
  justify-content: center;
}

nav{
  width: 100vw;
}

.nav.navbar, .navbar-expand-lg, .navbar-light, .bg-light{
  background-color: #373a48 !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand{
  color: white !important;
}

.content-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}